# This file is automatically maintained by Dependabot, as configured in
# .github/dependabot.yaml. It can also be updated by...
#
#    ./dependencies freeze --upgrade
#

# JupyterHub itself
git+https://github.com/yacchin1205/jupyterhub.git@feature/403-error-page

## Authenticators
jupyterhub-firstuseauthenticator
jupyterhub-hmacauthenticator
jupyterhub-ldapauthenticator
jupyterhub-ltiauthenticator
jupyterhub-nativeauthenticator
jupyterhub-tmpauthenticator
nullauthenticator
oauthenticator

# Authenticator optional dependencies
mwoauth
pyjwt

## Kubernetes spawner
jupyterhub-kubespawner

# RCOSDP
git+https://github.com/yacchin1205/jhub_remote_user_authenticator@fix/status-forbidden
git+https://github.com/RCOSDP/CS-jhub_sendgrid_notifier.git

## Other optional dependencies for additional features
pymysql  # mysql
psycopg2-binary  # postgres
pycurl  # internal http requests handle more load with pycurl
sqlalchemy-cockroachdb # cocroachdb
statsd  # statsd metrics collection (TODO: remove soon, since folks use prometheus)

# The idle culler service
jupyterhub-idle-culler

## Useful tools

# py-spy is useful for profiling running hubs
py-spy
